"N(a|o)mbre",			"Today",	1, 	2, 	5, 	8, 	5, 	10, 	30, 	12, 	11, 	1
"H(a|o)y.", 			"", 		2, 	5, 	10,	20,	10,	100,	30, 	12, 	11, 	1
"Residen(c|t)ial.", 		"",		3, 	9, 	12,	15,	10,	30, 	12, 	11, 	12	1
"Ciud(u|a)d", 			“Estado",		4, 	9, 	3, 	5, 	6, 	10, 	30, 	12, 	11, 	1
"Estado", "Zip", 		"", 		5, 	6, 	7, 	8, 	10,	10, 	30, 	12, 	11,	1
"Po(s|r)tal.", 			"", 		6, 	4, 	9, 	8, 	10, 	30, 	12, 	11, 	11, 	1
"occurio.", 			"a.m.", 	7, 	3, 	2, 	6, 	5, 	10, 	30, 	12, 	11, 	1
"accide(nt|m)e.", 		"", 		8, 	3, 	2, 	6, 	5, 	10, 	30, 	12, 	11, 	2
"afectada.", ""			"", 		9,  	3, 	2, 	6, 	5, 	10, 	30, 	12, 	11, 	2
"Empleado.", 			"", 		10, 	3, 	2, 	6, 	5, 	10, 	30, 	12,	11,	1
"Empleado.",			"", 		11, 	3, 	2, 	6, 	5, 	10, 	30, 	12, 	11, 	1
"empleador.", 			"", 		12, 	3, 	2, 	6, 	5, 	10, 	30, 	12,	11,	1
"Direccion.", 			"", 		13, 	3, 	2, 	6, 	5, 	10, 	30,	12,	11,	1
"accidendente.",		"",		14, 	3,	2,	6,	5,	10,	30,	12,	11,	1
"peticion.", 			"",		15,	3,	2,	6,	5,	10,	30,	12,	11,	1
"empleador.", 			"",		16,	3,	2,	6,	5,	10,	30,	12,	11,	1
"seguros.", 			"",		17,	3,	2,	6,	5,	10,	30,	12,	11,	1
"Seguro.", 			"", 		18,	3,	2,	6,	5,	10,	30,	12,	11,	1
"empleador.", 			"", 		19, 	3,	2,	6,	5,	10,	30,	12,	11,	1
"Tirulo.", 			"Telephone.", 	20, 	3, 	2, 	6, 	5, 	10, 	30, 	12, 	11,	1
"Telefono.",			"",		21, 	3,	2,	6,	5,	10,	30,	12,	11,	1